*.asm
*.dll
*.obj
*.exe
*.lib
*.pdb
*.ncb
*.sdf
*.opensdf
*.pyc
*.hex
*.suo
*.log
*~*
*.ipch
*.user
*.chp
*.vhd
*churn.cpp
*memenc.cpp
*temp*
Debug/
Release/
test.*
script.py

/dmath/primes.dat
/todo.txt
